/* Root stylesheet. Load into your Zmpl template with:
 *
 * <link rel="stylesheet" href="/styles.css" />
 *
 */

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: monospace;
  color: #f0f0f0;
  background-color: #202020;
}
